@media screen and (min-width: 280px) {   
    #index {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1;
        align-items: center;
        padding: 1rem;
    }

    #index form {
        border-radius: 1rem;
        padding: 6rem 0 3rem 0;
        background-color: white;
    }

    #index form, fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        width: 90%;
    }

    #index legend {
        font-size: 2rem;
        font-weight: bold;
    }

    #index .painel {
        display: flex;
        flex: 1;
        width: 100%;
    }

    #index #painel_ic {
        border-bottom: 0.01rem var(--cor-3) solid;
    }

    #index #painel_ic, input {
        margin-top: 2.6rem;
    }
    
    #index div p ~ i {
        margin-top: 1rem;
        font-size: 2rem;
    }

    #index input {
        width: 100%;
        height: 3rem;
        border: none;
        outline: 0;
        border-bottom: 0.01rem var(--cor-3) solid;
        padding-left: 1rem;
    }

    #index #enviar {
        margin: 0.5rem 0 3rem 0;
        border: 0;
        border-radius: 1rem;
        cursor: pointer;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        background-image: linear-gradient(75deg, var(--cor-2),var(--cor-1), var(--cor-2),var(--cor-1), var(--cor-2));
        background-size: 400%;
        background-position-x: 100%;
        transition: 1s;
    }

    #index #enviar:hover {     
        background-position-x: 0%;
    }

    #index a, #criar_acc {
        text-decoration: none;
        margin: 1rem;
        color: var(--cor-3);
    }

    #index #criar_acc {
        margin-top: 8rem;
        text-transform: uppercase;
        font-size: 0.78rem;
        font-weight: 600;
    }
} 