@media screen and (min-width: 280px) { 
    
    #login {
        margin-top: 1rem;
        font-weight: bold;
    }

    #login #fundo_img {
        display: flex;
        margin-bottom: 2rem;
        padding: 0.2rem;
        border-radius: 4rem;      

    }

    #login img {
        width: 7rem;
        border-radius: 4rem;
    }

    #login #logout, #download {
        width: 4.5rem;
        margin-top: 6rem;
        padding: 0.6rem;
        border-radius: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        background-color: var(--cor-1);
    }

    #login #download {
        width: 8rem;
    }
}