@media screen and (min-width: 280px) {   
    #index {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1;
        align-items: center;
        padding: 1rem;
    }

    #index #login {
        border-radius: 1rem 1rem 0 0;
        padding: 6rem 0 0 0;
        background-color: white;
    }

    #index form, fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        width: 90%;
    }

    #index legend {
        font-size: 2rem;
        font-weight: bold;
    }

    #index .painel {
        display: flex;
        flex: 1;
        width: 100%;
    }

    #index #painel_ic {
        border-bottom: 0.01rem var(--cor-3) solid;
    }

    #index #painel_ic, input {
        margin-top: 2.6rem;
    }
    
    #index div p ~ i {
        margin-top: 1rem;
        font-size: 2rem;
    }

    #index input {
        width: 100%;
        height: 3rem;
        border: none;
        outline: 0;
        border-bottom: 0.01rem var(--cor-3) solid;
        padding-left: 1rem;
    }

    #index #enviar {
        margin: 2rem 0 0rem 0;
        border: 0;
        border-radius: 1rem;
        cursor: pointer;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        background-image: linear-gradient(75deg, var(--cor-2),var(--cor-1), var(--cor-2),var(--cor-1), var(--cor-2));
        background-size: 400%;
        background-position-x: 100%;
        transition: 1s;
    }

    #index #enviar:hover {     
        background-position-x: 0%;
    }

    #index a, button {
        text-decoration: none;
        margin: 1rem;
        color: var(--cor-3);
    }

    #index button {
        margin-top: 1.5rem;
        text-transform: uppercase;
        font-size: 0.78rem;
        font-weight: 600;
        border: none;
        background-color: white;
        cursor: pointer;
    }

    #index #ajuda, #login_externo, #conta_nova {
        box-sizing: border-box;
    }

    #index #ajuda, #login_externo {
        padding: 0;
        border-radius: 0;
        background-color: white;
    }

    #index #login_externo p {
        margin-top: 3rem;
        font-size: 1.15rem;
    }

    #index #login_externo button {
        font-size: 2.5rem;
        padding: 0;
    }
   
    #index #conta_nova {
        padding: 6rem 0 0 0;
        border-radius: 0 0 1rem 1rem;
        background-color: white;
    }
} 