:root {
    --cor-do-fundo: #f3efe0;
    --cor-1: #7fefbd;
    --cor-2: #cba135;
    --cor-3: #000;
}

body {
    background-color: var(--cor-do-fundo); 
    display: flex;
    flex-direction: column;   
    text-align: center;
    min-height: 100vh; /* determina a altura minima, unidade de media 
                          que funciona para ele usando display flex
                          eo VH = 20%/100% = proporcional a 100% do espaço da pag.*/
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    flex: 1; /*grow - aumenta e ocupa o mx de espaço disponivel
                shirink - diminui e ocupa o mx de espaço disponivel
                basis - escolhe o minino de pixel ao ser criado*/
}

li {
    margin: 0.4rem 0;
}
  
header, footer {
    padding: 2rem;
    background-color: var(--cor-3);
}

header nav a {  
    color: var(--cor-1);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

header nav a:hover, li:hover {
    transition: 0.8s;
    color: var(--cor-2);
    text-shadow: 
        0 0 8px var(--cor-2), 
        0 0 16px var(--cor-2), 
        0 0 32px var(--cor-2);
}

hr {
    width: 60%;
    box-shadow: 0 2px 10px var(--cor-1);
}

address {
    margin-top: 2rem;
    color: var(--cor-1);
}