:root {
    --cor-do-fundo: #E3FDFD;
    --cor-1: #CBF1F5;
    --cor-2: #A6E3E9;
    --cor-3: #71C9CE;
    --cor-preta: #000;
}
 @media (min-width: 200px) {
    body {
        background-color: var(--cor-1);      
    }
    
    header {
        height: 5rem;
        background-color: var(--cor-3);
    }

    header nav {
        position: relative;
        top: 3rem;
        left: 7.5rem;
    }

    header nav, ul, li {
        display: inline;
    }

    header a {
        margin-right: 1rem;
        text-decoration: none;
        text-transform: uppercase;
    }

    hr {
        width: 60%;
    }

    address {
        text-align: center;
        margin-bottom: 0.8rem;
    }
 }