@media screen and (min-width: 200px) {   
    #contato {
        display: flex;
        flex-wrap: wrap;
        padding: 3rem;
        flex: 1; /*grow - aumenta e ocupa o mx de espaço disponivel
                  shirink - diminui e ocupa o mx de espaço disponivel
                  basis - escolhe o minino de pixel ao ser criado*/
    }
}   