@media screen and (min-width: 280px) {   
    #contato {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 3rem;
        font-weight: bold;
        flex: 1; /*grow - aumenta e ocupa o mx de espaço disponivel
                  shirink - diminui e ocupa o mx de espaço disponivel
                  basis - escolhe o minino de pixel ao ser criado*/
    }

    #contato h1 {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }

    #contato form {
        padding: 2rem 3rem;
        border-radius: 1rem;
        background-color: white;
        width: 60%;
    }
    
    #contato #um, #dois, #tres {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex: 1;
        align-items: center;
    }

    #contato #cor, select {
        background-color: var(--cor-2);
    }

    #contato * :not(div) {
        margin-bottom: 0.4rem;
        padding: 0.4rem;
        border-radius: 1rem;
        font-size: 0.9rem;        
    }

    #contato input {
        width: 100%;
        box-sizing: border-box;
    }

    @keyframes fundo_enviar {
        0% {
            background-image: linear-gradient(0deg, var(--cor-1), var(--cor-2));
        }
        25% {
            background-image: 
            linear-gradient(90deg, var(--cor-1), var(--cor-2), 
                            var(--cor-1), var(--cor-2));
        }
        50% {
            background-image: 
            linear-gradient(180deg, var(--cor-1), var(--cor-2), 
                            var(--cor-1), var(--cor-2));
        }
        75% {
            background-image: 
            linear-gradient(270deg, var(--cor-1), var(--cor-2), 
                            var(--cor-1), var(--cor-2));
        }
        100% {
            background-image: 
            linear-gradient(360deg, var(--cor-1), var(--cor-2), 
                            var(--cor-1), var(--cor-2));
        }        
    }

    #contato #enviar {
        background-image: linear-gradient(270deg, var(--cor-2), var(--cor-1));
        width: 8rem;
        margin: 0; 
        border: none;
        cursor: pointer;
    }

    #contato #fundo_enviar {
        margin-top: 1.6rem;
        padding: 0.1rem;
        border-radius: 1rem;
        animation: fundo_enviar 2s;
        animation-iteration-count: infinite;
    }
}   

@media screen and (min-width: 600px) {
    #contato input {
        width: 80%;
    }
}