{% extends 'base.html' %}

{% block conteudo %}

<main id="contato"> 
    <form action="">
        <legend>Contate-nos</legend>

        <div id="painel">
            <input id="cor" name="nome" type="text" pattern="[a-zA-Z]+$" minlength="3" maxlength="10" required 
                placeholder="Nome completo">
        
            <input id="cor" name="email" type="email" required
                placeholder="E-mail">
                <textarea name="texto" id="texto" placeholder="Sua mensagem"></textarea>
        </div>

        <input type="submit" value="Enviar" id="enviar">
    </form>
</main>

{% endblock %}