{% extends 'base.html' %}

{% block conteudo %}

<main id="conta_nova"> 
    <form action="/conta_nova">
        <legend>Conta Nova</legend>
        <div>
            <input id="cor" name="nome" type="text" pattern="[a-zA-Z]+$" minlength="3" maxlength="10" required 
                placeholder="Nome completo">
            <input id="usuario" name="usuario" type="email" placeholder="Email" required>
            <input id="senha" name="senha" type="password" minlength="8" placeholder="Senha" required>
        
            <input type="submit" value="Enviar" id="enviar">
        </div>
    </form>
</main>

{% endblock %}