{% extends 'base.html' %} <!- seta a onde vai se alocado o conteudo abaixo ->

{% block conteudo %} <!- inicio do conteudo a ser alocado no arquivo indicado no extend ->
    
<main id="index">
    {% if new_acc %}
        <p style="display: none;">A82g2frTy2a4G@G!#</p> 
    {% endif %}
    <form id="login" action="/login" method="post">
        <fieldset>
            <legend>Login</legend>
            
            <div class="painel">  
                <i id="painel_ic" class="fa-regular fa-envelope"></i>
                <input id="usuario" name="usuario" type="email" placeholder="Email" required>
            </div>  

            <div class="painel">
                <i id="painel_ic" class="fa-solid fa-user-lock"></i>
                <input id="senha" name="senha" type="password" minlength="6" maxlength="10" placeholder="Senha" required>
            </div> 
                        
            <input id="enviar" type="submit" value="enviar">
        </fieldset>        
    </form>

    <form id="ajuda" action="/ajuda">
        <button id="bntg" type="submit">Esqueceu a senha ou email ?</button>
    </form>
    
    <div id="google">
        <p>Login com</p>
        <a href="/login_google"><img src="{{url_for('static', filename='/imagens/google.png')}}" alt=""></i></a>
    </div>

    <form id="conta_nova" action="/conta_nova">
        <button type="submit">Criar conta</button> 
    </form>
</main>
    
{% endblock %} <!- final do conteudo ->
