{% extends 'base.html' %} <!- seta a onde vai se alocado o conteudo abaixo ->

{% block conteudo %} <!- inicio do conteudo a ser alocado no arquivo indicado no extend ->
    
<main id="index"> 
    <form id="login" action="/login" method="post">
        <fieldset>
            <legend>Login</legend>
            
            <div class="painel">  
                <i id="painel_ic" class="fa-regular fa-envelope"></i>
                <input id="usuario" name="usuario" type="email" placeholder="Email" required>
            </div>  

            <div class="painel">
                <i id="painel_ic" class="fa-solid fa-user-lock"></i>
                <input id="senha" name="senha" type="password" minlength="8" placeholder="Senha" required>
            </div> 
                        
            <input id="enviar" type="submit" value="enviar">
        </fieldset>        
    </form>

    <form id="ajuda" action="/ajuda">
        <button id="bntg" type="submit">Esqueceu a senha ou email ?</button>
    </form>

    <div id="google">
        <div id="g_id_onload"
            data-client_id="838897217727-2p26l7nh0lpqub2mktg0kbc7d0gsb8qo.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-login_uri="https://airosaflask.herokuapp.com"
            data-auto_prompt="false">
        </div>

        <div class="g_id_signin"
            data-type="standard"
            data-shape="circle"
            data-theme="outline"
            data-text="$ {button.text}"
            data-size="large"
            data-locale="pt-PT"
            data-logo_alignment="left">
        </div>
    </div>

    <form id="conta_nova" action="/conta_nova">
        <button type="submit">Criar conta</button> 
    </form>
</main>
    
{% endblock %} <!- final do conteudo ->
