{% extends 'base.html' %}

{% block conteudo %}

<main id="login">
    {% if user %}
        <p>User: {{user}}</p><br>
        
    {% elif user_google %}
        <div id="fundo_img"><img src="{{user_google.picture}}" alt=""></div>
        
        <p>Nome: {{user_google.given_name}}</p><br>
        <p>Sobrenome: {{user_google.family_name}}</p><br>
        <p>Email: {{user_google.email}}</p><br>
     
    {% endif %}

    <a id="download" href="/dowload" download="">api json download</a>
</main>

{% endblock %}
